body {
    font-family: Arial, Verdana, sans-serif;
}

.landing-page {
    background-color: lightskyblue;
}

.green {
    background-color: lightgreen;
}

.waffle {
    background-color: burlywood;
}

.wok {
    background-color: orange;
}

.recipe h1 {
    text-align: center;
}

.recipe img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.underscore {
    text-decoration: underline;
}

.landing-page ul {
    font-size: 30px;
    margin: 10px 0;
}

h1 {
    font-size: 45px;
}




